# Necessary for unit tests
pytest
pytest-lazy-fixture
parameterized
pyyaml
pyvisa-sim

# Necessary for linting locally and in CI
wheel
twine
setuptools
setuptools-scm
pylint 
pylint-gitlab 
autopep8 
mypy 
coverage
-r requirements.txt